body{
	line-height: 2;
	width: 770px;
	margin: 0 auto;
	font-size: 30px;
	text-align:center;
}
/* scrollUp */
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 50px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
	-webkit-transition:.3s;
  	transition:.3s;
}
#scrollUp:hover {
	background: #444;
}
